        <header>
            <div class="header-text-box">
            <h1> Quan Trắc Vi Sinh</h1>
                <div>
                    <form class="data-form" id="data-form" enctype="multipart/form-data" action="/upload/image" method="post">
                        
                         <input  id="data" type="file" style="display:none;"/>  <input id="send" type="submit" value="Gửi file" style="display:none;"/> <br>
                         <label id ="filename" class="btn-full" for="data">Chọn file dữ liệu</label>
                         <label id="sends" class="btn-full" for="send" style="display:none">Gửi dữ liệu</label>
                    </form>
                   
                </div>
                
            </div>

            <div class="header-text-link">
                <p id="wait"></p><br>
                <p id="Done"></p>
                <p id="Download"></p><br>
            </div>
                <nav>
                    <div class="row">
                        <ul class="main-nav">
                            <li><a>Trang chủ</a></li>
                            <li><a>In Quan Trắc</a></li>
                            <li><a>Tra Cứu Phương Pháp</a></li>
                            <li><a>Tạo dữ liệu PDPP</a></li>
                            <li><a>Giới Thiệu</a></li>
                        </ul>
                    </div>
                </nav>
        </header>