<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <header>
                 <nav class="nav">
                    <div class="row">
                        <ul class="main-nav">
                            <li class="order"><a href="#">In Quan Trắc</a></li>
                             <li class="media"><a href="#">Tra cuy hoa chat</a></li>
                             <li class="method"><a href="#">tra cuu PP</a></li>
                            <li><a href="#">Tạo dữ liệu</a></li>
                            <li><a href="#">Giới Thiệu</a></li>
                        </ul>
                    </div>
                </nav>
            </header>
</body>
</html>  
            
        