*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    background-color: #cde7e7;
    color: rgb(24, 23, 23);
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 3000px;
    text-rendering: optimizeLegibility
}


.row {
    max-width: 1140px;
    margin: 0 auto;
}

.sub {
    position: absolute;
    background-color: yellow;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%)
}
header {
    background-image: linear-gradient(to right, rgba(14, 12, 12, 0.705), rgba(29, 31, 29, 0.781)), url(../images/nhut.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center
}
.header-text-box {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -45%)
}
h1 {
    margin: 0px;
    color: rgb(255, 255, 255);
    font-size: 300%;
    font-weight: 300;
    word-spacing: 4px;
    text-transform: uppercase
}
/* .btn:link,
.btn:visited {
    text-decoration: none;
    display: block;
    float: left;
    margin-left:20px;
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 300px;
    transition: background-color 0.5s, color 0.5s
} */
.data-form {
    margin-top: 30px;
}
.btn-full{
   
    color:#eb0f0f;

    border: 2px rgba(238, 204, 204, 0.8) solid;
    border-radius: 200px;
    padding: 15px 20px;
    margin-left: 30px;
    display: inline-block;
    
}
.btn-full:hover,
.btn-full:active {
    color:#fff;
    background-color:#eba50f;
    cursor: pointer;
}

.header-text-link {
    top: 70%;
    left: 28%;
    position: absolute;

}
.header-text-link a {
    text-decoration: none;
    color: #0f1eeb;
    display: block;
    padding: 20px 30px;
    background-color: #fff;
    border: #fff 1px solid;
    border-radius: 200px
}
.header-text-link p {
    display: inline-block;
    padding: 20px 30px; 
    font-size: 120%;
    color: rgb(236, 13, 13);
    font-weight: 400;
}

.main-nav {
    margin-top: 20px;
    float: right;
    list-style: none;
}
.main-nav li {
    float: left;
    padding: 5px 10px;
    margin-left: 2px;
    color: #fff;
    border-right: 1px solid rgb(110, 108, 108);
}
.main-nav li:last-child {
    border-right: none
}
.main-nav li:hover,
.main-nav li:active
 {
    cursor: pointer;
    border-bottom: 1px solid #eba50f;
    color:#eba50f

}